* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.nav-logo {
    height: 50px;
    width: 120px;
    margin-bottom: 8px;
}

.logo {
    background-size: cover;
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100%;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

/* box-2 */

.add-first {
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 20px;
}

.add-second {
    color: white;
    font-size: 1rem;
}

.address-icon {
    display: flex;
    align-items: center;
}

/* box-3 */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 600px;
    height: 38px;
    border-radius: 4px;
}

.nav-search:hover {
    border: 2px solid #ff9f20;
    border: border-box;
}

.search-select {
    background-color: #dddada;
    width: 50px;
    text-align: center;
    border-radius: 4px 0 0 4px;
    border: none;
}

.search-input {
    border-radius: 0;
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    background-color: #ffbe69;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 0 4px 4px 0;
    color: #0F1111;
}

/* box-4 */

.language-select {
    position: relative;
    display: inline-block;
}

.lang-btn {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 8px;
}

.flag {
    width: 20px;
    height: 14px;
    object-fit: contain;
    margin-right: 6px;
}

.lang-text {
    margin-right: 4px;
}

.arrow {
    font-size: 10px;
    color: gray;
}

.dropdown {
    display: none;
    position: absolute;
    background: white;
    color: black;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 150px;
    top: 100%;
    left: 0;
    z-index: 10;
}

.dropdown li {
    padding: 6px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown li:hover {
    background: #f0f0f0;
}

.dropdown .flag {
    margin-right: 8px;
}

.language-select:hover .dropdown {
    display: block;
}

/* box-5 */

span {
    font-size: 0.7rem;
    color: #CCCCCC;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/* box-6 */

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

/* panel */

.panel {
    height: 40px;
    background-color: #222e3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 1rem;
}

.panel i {
    margin-left: 2px;
}

.panel-options p {
    display: inline;
    font-size: 0.80rem;
    color: white;
    font-weight: 400;
    margin: 10px;
}

/* hero-sectiom */

.hero-section {
    background-image: url(hero_image.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 97.5%;
    margin: 25px;
}

.hero-message a {
    color: #007185;
    text-decoration: none;
}

/* shop-section */

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #d2dede;

}

.box {
    height: 400px;
    /* border: 2px solid black; */
    width: 23%;
    background-color: white;
    margin-top: 20px;
    padding: 20px 0px 15px;
}

.box-image {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;

}

.box-content p {
    color: #007185;
}

/* footer */

footer {
    margin-top: 15px;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;

}

.foot-panel2 {
    background-color: #222e3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul a {
    display: block;
    font-size: 0.85rem;
    color: #CCCCCC;
    margin: 10px;
}

ul {
    margin: 25px;
}

ul p {
    font-size: 1rem;
    font-weight: 700;

}

/* foot-panel3 */

.foot-panel3 {
    background-color: #222e3d;
    color: white;
    border-top: 0.2px solid rgb(156, 154, 154);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-logo {
    background-size: cover;
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100px;
}

/* foot-panel4 */

.foot-panel4 {
    color: white;
    font-size: 0.85rem;
    text-align: center;
    background-color: #131a22;
    height: 78px;
}

.pages {
    padding-top: 20px;
}

.copyright {
    margin-top: 5px;
}